body {
  margin: 0;
  font-family: monospace, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

body.grabbing {
  cursor: grabbing;
}

.app {
  max-width: 800px;
  /*width: 300px;*/
  padding: 40px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .app {
    /*padding: 18px;*/
  }
}

.editable {
  flex: 1;
}

.editable p {
  margin: 0;
}

.wrapper {
  position: relative;
  transform-origin: 0 0;
  touch-action: manipulation;

  padding: 3px;
  margin: 5px;
  /*border: 1px solid lightslategrey;*/
  background-color: white;
  z-index: 0;
  outline: none;
  /*will-change: transform;*/
}

.wrapper {
  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
    scaleX(var(--scale-x, 1)) scaleY(var(--scale-y, 1));
  z-index: 0;
}

.wrapper.dragging {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.3);
  --scale-x: 1.04;
  --scale-y: 1.04;
}

.wrapper.dragging:not(.dragOverlay) {
  opacity: 0.3;
  border: 2px dotted #0177ff;
  /*background-color: #08baff;*/
}

.wrapper.dragOverlay {
  cursor: inherit;
  opacity: 0.9;
  background-color: white;
  /*box-shadow: 0 0 0 calc(1px / var(--scale-x, 1)) rgba(63, 63, 68, 0.05),*/
  /*  -1px 0 15px 0 rgba(34, 33, 81, 0.01), 0px 15px 15px 0 rgba(34, 33, 81, 0.25);*/

  -webkit-box-shadow: 0px 0px 13px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 13px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 13px 2px rgba(34, 60, 80, 0.2);
}

@media only screen and (max-width: 768px) {
  .actions {
    /*left: -20px;*/
    /*width: 20px;*/
  }
}

.handle {
  position: absolute;
  left: -50px;
  user-select: none;
  background: none;
  border: none;
  font-size: 23px;
  cursor: grab;
  opacity: 0;
  color: lightslategray;
  height: 100%;
  padding: 0;

  /*background-color: blue;*/
}

@media only screen and (max-width: 768px) {
  .handle {
    opacity: 1;
  }
}

.wrapper.dragging .handle,
.wrapper.dragOverlay .handle {
  cursor: inherit;
}

.wrapper:hover .handle,
.wrapper.selected .handle {
  opacity: 1;
}

.folding {
  position: absolute;
  left: -20px;
  top: 24px;
  cursor: pointer;
  user-select: none;
  background: none;
  border: none;
  font-size: 18px;
  color: lightslategray;
  padding: 0;

  /*background-color: green;*/
}

.folding div {
  transition: 200ms transform;
  transform: rotate(var(--rotate, 90deg));
}

.hidden {
  display: none;
  height: 0;
}

.disableSelection * {
  user-select: none;
  -webkit-user-select: none;
}

.disableInteraction {
  pointer-events: none;
}

.wrapper.dragging.indicator {
  opacity: 1;
  position: relative;
  z-index: 1;
  /*margin-bottom: -1px;*/

  padding: 0;
  width: 100%;
  height: 3px;
  background-color: #0073f8;
}

.indicator > * {
  /* Items are hidden using height and opacity to retain focus */
  opacity: 0;
  height: 0;
}

.image-wrapper {
  position: relative;
}

.image::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: " ";
}

.hidden {
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.list-item {
  position: relative;
  margin-left: -26px;
  list-style: none;
  padding-left: var(--spacing);
}

.list-item:not(.hasChildren) .folding-pointer {
  visibility: hidden;
  pointer-events: none;
}

.folding-pointer {
  cursor: pointer;
  float: left;
  font-size: 12px;
  background: none;
  border: none;
  margin-top: 4px;
  margin-left: 2px;
  user-select: none;
}

.pointer {
  float: left;
  min-width: 18px;
  cursor: pointer;
  transform: rotate(0deg);

  background: none;
  border: none;
  user-select: none;
}

.checkbox-pointer {
  float: left;
  margin-top: 3px;
  user-select: none;
}

.list-item .folding-pointer:hover,
.list-item.folded .folding-pointer {
  transition: 300ms transform;
  transform: rotate(-90deg);
}

.list-item:not(.folded) .folding-pointer:hover {
  transform: rotate(0deg);
}

.list-item-numbered .pointer::before {
  content: var(--pointer-content) ".";
}

.list-item-bulleted .pointer::before {
  content: var(--pointer-content);
  font-size: 8px;
  vertical-align: middle;
}

.list-line {
  user-select: none;
  position: absolute;
  width: 20px;
  height: var(--height);
  top: 26px;
  left: calc(-15px + var(--spacing));
  z-index: 1000;
  cursor: pointer;
}

.list-line::before {
  width: 2px;
  height: 100%;
  background-color: gray;
  display: block;
  content: '';
  margin-left: 10px;
  transition: 200ms box-shadow, 200ms background-color;
}

.list-line:hover::before {
  background-color:  #0177ff;
  box-shadow: 0 0 1px #0177ff;
}

.toolbar-button {
  background: none;
  border: none;
  cursor: pointer;
}
