body {
  margin: 0;
  font-family: monospace, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

body.grabbing {
  cursor: grabbing;
}

.app {
  max-width: 800px;
  padding: 40px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.editable {
  flex: 1;
}

.editable p {
  margin: 0;
  line-height: 25px;
}

.wrapper {
  position: relative;
  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
    scaleX(var(--scale-x, 1)) scaleY(var(--scale-y, 1));
  transform-origin: 0 0;
  touch-action: manipulation;

  padding: 10px;
  margin: 5px;
  /*border: 1px solid lightslategrey;*/
  background-color: white;
  z-index: 0;
  outline: none;
  will-change: transform;
}

.wrapper.dragging {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.3);
  --scale-x: 1.04;
  --scale-y: 1.04;
}

.wrapper.dragging:not(.dragOverlay) {
  opacity: 0.3;
}

.wrapper.dragOverlay {
  cursor: inherit;
  opacity: 1;
  background-color: white;
  box-shadow: 0 0 0 calc(1px / var(--scale-x, 1)) rgba(63, 63, 68, 0.05),
    -1px 0 15px 0 rgba(34, 33, 81, 0.01), 0px 15px 15px 0 rgba(34, 33, 81, 0.25);
}

.handle {
  position: absolute;
  top: calc(50% - 12px);
  left: -48px;
  user-select: none;
  background: none;
  border: none;
  font-size: 23px;
  cursor: grab;
  opacity: 0;
  color: lightslategray;
}

.wrapper.dragging .handle,
.wrapper.dragOverlay .handle {
  cursor: inherit;
}

.wrapper:hover .handle,
.wrapper.selected .handle {
  opacity: 1;
}

.folding {
  cursor: inherit;
  position: absolute;
  top: calc(50% - 12px);
  left: -26px;
  user-select: none;
  background: none;
  border: none;
  font-size: 23px;
  color: lightslategray;
  transition: 200ms transform;
  transform: rotate(var(--rotate, 90deg));
}

.hidden {
  display: none;
  height: 0;
}
